.mainContainer {flex-direction: column;}
.mainContainer > div {flex: 1 1; display: flex; justify-content: space-between;}
.mainContainer > div:first-child {margin-bottom: 3.4rem;}
.mainContainer > div:first-child > section {width: calc((100% - 6.8rem) / 3);}
.mainContainer > div:last-child > section {width: calc((100% - 3.4rem) / 2);}

/* imgBox */
.imgBox {display: flex; justify-content: center; align-items: center; overflow: hidden; border: 1px solid var(--gray-300);}

/* stepContainer */
.stepContainer ul {display: flex; justify-content: space-between;}
.stepContainer li {width: 30%; display: flex; flex-direction: column; align-items: center; justify-content: flex-end;}
.stepContainer li svg {width: 100%; margin-bottom: .3em;}
.stepContainer li text {font: bold 30px 'NotoSans-KR'; fill: var(--pink-650); transform: translateY(5%);}
.stepContainer li span {font-size: var(--fs-15); color: var(--gray-700);}

/* recordContainer */
.recordContainer {display: flex; flex-direction: column; margin-top: 3.4em;}
.recordContainer li {width: 100%; display: flex; align-items: center; margin-bottom: 2.4rem;}
.recordContainer li:last-child {margin-bottom: 0;}
.recordContainer li .imgBox {width: 17rem; height: 17rem; display: flex; flex-direction: column; align-items: center; justify-content: center; margin-right: 1.4em; border-radius: 2rem; background-color: #ddd; cursor: pointer;}
.recordContainer .imgBox span {font-size: var(--fs-15); color: var(--gray-700);}

.recordContainer li .texts {flex: 1 1 auto; display: flex; flex-direction: column; margin-right: 1.4em;}
.recordContainer li .texts span {display: inline-block;}
.recordContainer li .texts span.tag {margin-bottom: .4em; font-size: var(--fs-15); color: var(--gray-400);}
.recordContainer li .texts span.kcal {margin-bottom: 1.05em; font-size: var(--fs-22); color: var(--gray-900);}
.recordContainer li .texts span.foodName {font-size: var(--fs-16); color: var(--gray-700);}
.recordContainer li button {width: 4.2rem; height: 4.2rem; background-color: var(--pink-300); border-radius: 100rem;}
.recordContainer li button svg {margin-left: -1px;}

/* workoutDataContaier */
.workoutDataContaier .texts .title {max-width: 44rem; margin-bottom: .2em; font-size: var(--fs-22); color: var(--gray-900); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.workoutDataContaier .texts .channel {margin-bottom: 3em; font-size: var(--fs-16); color: var(--gray-700);}
.workoutDataContaier .texts .totalTime {font-size: var(--fs-16); color: var(--gray-400);}
.workoutDataContaier img {max-width: 150%;}

/* footer */
footer {display: flex; justify-content: center; align-items: center; padding: 2.8em 0; font-size: var(--fs-12); color: var(--gray-500);}