.header {display: flex; height: 80px; justify-content: space-between; align-items: center;}
.logoContainer {width: var(--nav-width); min-width: var(--nav-width); padding: 0 2.2rem;}

.right {flex: 1 1; display: flex; justify-content: space-between; align-items: center; padding: 0 4rem;}
.goalMessage {display: flex;}
.goalMessage p {margin-right: 1.4rem;}

.modeBtnContainer {margin-right: 6rem;}

.myInfo {display: flex; align-content: center;}
.myInfo .imgBox {display: flex; justify-content: center; align-items: center; width: 5rem; height: 5rem; margin-right: 1rem; border-radius: 5rem; overflow: hidden;}
.header img {max-width: 120%; margin-top: 2.8rem;}

.myInfo .textContainer {display: flex; flex-direction: column; justify-content: center; margin-right: 1.4rem;}
.myInfo .name {margin-right: .2rem; font-size: var(--fs-18); font-weight: var(--fw-m); color: var(--gray-800);}
.myInfo .mail {font-size: var(--fs-14); font-weight: var(--fw-r); color: var(--gray-500);}

.myInfo .btnContainer {display: flex; justify-content: center; align-items: center;}
.myInfo button {width: 3.2rem; height: 3.2rem;}
.myInfo button svg {transform: rotate(90deg);}